<h1>Add a Unit for review!</h1>

<%= form_for(@unit) do |f|%>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :descrition %>
      <%= f.text_field :descrition %>
    </div>

    <p> Select the faction the unit bleongs to: </P>
    <div>
      <%= f.collection_select :faction_id, Faction.all, :id, :name %>

    </div>

    <p> Add a Faction if it does not exist </p>
    <div>
      <%= f.fields_for :faction do |a| %>
        <%= a.label :name %>
        <%= a.text_field :name %>
        
    </div>

    <div>
      <%= a.label :description %>
      <%= a.text_area :description %>   
    </div>
    <% end %>
    <br>
    <%= f.submit "Activate" %>  
<% end %>



